*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{width: 100vw;
    height: 8vh;
    background-color: black;
    color: white;
    display: grid;    
}
nav ul{
    display: flex;
    text-align: center;
     align-items: center;
     gap:2rem;
    
}
nav ul li{  
    list-style: none;
    text-align: center; 
    font-size: 1rem;              
}
.img{
   
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    gap: 10px;
}

.img img{
    height:2rem;
    width:2rem;
}
